[2018-04-30 15:27] poolpOrg opened #48 "#p2k18 hackathon and OpenSMTPD"

[2018-05-21 16:34] poolpOrg opened #49 "switching to OpenSMTPD new config"

[2018-05-26 14:03] MrSorcus commented on #49
Can be ECC certs used with latest OpenSMTPD?

[2018-05-29 19:28] poolpOrg commented on #49
no, there's a ticket opened.

[2018-07-03 18:45] ghost opened #50 "Unable to use rspamc with OpenSMTPD 6.4.0"
I would like to be able to use rspamc with the new version and syntax but this is not working:
action "domain" mda "/usr/local/bin/rspamc -d %{dest} -h 127.0.0.1:11334 --mime --exec \"/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest} -a %{rcpt}\"" virtual <virtuals>

When the action is run, I get an error: mail.mda only one command supported. How can I get this to run because I depend

[2018-07-04 07:00] poolpOrg commented on #50
On Tue, Jul 03, 2018 at 11:45:09AM -0700, mattschwartz03 wrote:

That's strange it looks like a quoting issue but the example you provide
has proper quoting of --exec and is similar to what I used.

Maybe you should give a try to the mda wrapper feature:

    mda wrapper antispam "/usr/local/bin/rspamc --mime --exec '%{mda}'"

    action l01 maildir junk alias <aliases> wrapper antispam

--
Gilles

[2018-07-04 09:48] ghost commented on #50
Hi Gilles, Thank you for your reply. That seemed to do the trick! I really like your new grammar syntax. This makes it so much easier to debug configs. I also really like how the queue is preserved if the daemon has to get restarted. This really makes OpenSMTPD robust! If you'd like, I'll submit a patch for the manual page to add an example for using a mda wrapper.

[2018-07-04 16:10] ghost opened #51 "Backup MX troubles"
Hello Gilles, I have implemented another server to use as a backup mx with the following

action "local" mbox alias <aliases>
action "backupmx" relay backup
action "relay" relay

match for local action "local"
match for any from domains <domain> action "backupmx"
match for local action "relay"

The mail queues correctly but when it tries to deliver to the primary mx, the primary rejects the mail a

[2018-07-05 09:33] poolpOrg commented on #51
On Wed, Jul 04, 2018 at 04:11:00PM +0000, mattschwartz03 wrote:

This should really be asked on the mailing list or IRC, I don't want the
personal blog I run to become a tech support medium ;-)

--
Gilles Chehade

https://www.poolp.org                                          @poolpOrg

[2018-07-05 10:20] ghost commented on #51
I understand! Thank you again for your earlier help. By the way, on a whim, I tried the following and it worked:
action "action01" mda "/usr/local/bin/rspamc -d %{dest} --mime -exec '/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest} -a %{rcpt}'"

It seems the backslash was throwing it off.

[2018-11-01 17:34] bg90jwef commented on #49
with the old grammar i used the following:

_accept from any for domain "example.com" recipient "foo@example.com" relay via tls+auth://exodus@smtp.provider.com auth <authinfo>_
_accept from any for any virtual { "@" => buggy } deliver to mbox_

to do some sort of catchall.
this worked well. any mail (local from system and remote from lan) was basically delivered to the local user _buggy_ which had

[2018-11-03 21:49] poolpOrg opened #80 "November 2018: OpenSMTPD released and upcoming filters preview"
https://poolp.org/posts/2018-11-03/opensmtpd-released-and-upcoming-filters-preview/

[2018-11-04 17:57] kaey commented on #80
Filters protocol looks very similar to communigate
https://www.communigate.com/communigatepro/Helpers.html#Filters
https://www.communigate.com/communigatepro/VirusScan.html

Congrats on releasing it!

[2018-11-05 22:03] leo-unglaub commented on #80
The new filter design is absolutley amazing. I love it. It allows people to quickly write a filter in a simple shell script but it also allows you to redirect the filter-requests to a different (central filtering server) and process there. It's simply amazing.

I have already written a SPF filter in Rust. Works perfect.
Thanks for all your work!

[2018-11-06 09:53] poolpOrg commented on #80
@kaey I wasn't aware but it's not really surprising, I didn't do rocket science, the interesting part is not so much the protocol but rather the split between events reporting and filtering, where a filter may or not depend on reporting to build its state, this and the read from stdin / write to stdout logic which makes it trivial to plug with any language. Thanks for your comment.

@leo-unglaub o

[2018-11-08 02:28] ghewgill commented on #80
This looks great! Some requests:

- Filter on link-connect event (for connection rejection before welcome message)
- Some way to invoke spamd-like tarpit behaviour (slow responses), even if the remainder of the session has to be handled within the filter
- A way to pass a tag back from a filter to smtpd
- Consider a filter data format option, eg. JSON might make more sense for some filter implemen

[2018-11-08 07:10] poolpOrg commented on #80
This is already implemented, I use it myself

This can be done using proc filters which actively slow down responses.

I have implemented a PoC filter which paused 5 seconds for each reply to
a particular IP address.

This will be done, it was even discussed yesterday on IRC but I want the
DATA part to be finished first.

Tags are trickier because we already have a tagging mechanism which does
not

[2018-11-09 08:37] poolpOrg opened #52 "2018-11-09/opensmtpd-reporting-update"
https://poolp.org/posts/2018-11-09/opensmtpd-reporting-update/

[2018-12-06 21:24] poolpOrg opened #53 "OpenSMTPD proc filters & fc-rDNS"

[2018-12-06 23:06] leo-unglaub commented on #53
Awesome, thanks for all the work!

[2018-12-19 20:12] poolpOrg opened #54 "more on OpenSMTPD filters"

[2018-12-21 21:58] poolpOrg opened #55 "OpenSMTPD now supports regex in match rules"

[2019-06-02 12:46] poolpOrg opened #56 "happy new year 2019, a personal post"

[2019-06-02 14:25] poolpOrg opened #57 "may 2019 report"

[2019-06-30 10:55] poolpOrg opened #58 "June 2019 report : fion, bpg and smtpd"

[2019-07-27 09:39] poolpOrg opened #59 "July 2019 report: tons of smtpd work mostly"

[2019-08-19 09:08] jdelic commented on #80
@poolpOrg

After you pointed me to your blog from my well intentioned, but utterly misguided PR at OpenSMTPD/OpenSMTPD-extras#58, I guess this is the right forum to ask a follow-up question.

From a quick reading of `lka_filter.c`, I was unable to find out what the process model for filters actually is. The same is true from reading the smtpd man pages and OpenSMTPd. Perhaps you can just help clea

[2019-08-19 15:35] poolpOrg commented on #80
@jdelic

Very simple:

A filter is simply a process fork()-ed by OpenSMTPD at startup and which is expected to run an infinite loop reading reporting events and filtering requests from stdin, writing filtering responses to stdout.

What your process does internally is up to you: you can run with a single thread if you don't do blocking tasks, you can run with a single thread and event-based progra

[2019-08-25 04:31] poolpOrg opened #60 "August 2019 report: Fion, Plakar and OpenSMTPD"

[2019-08-31 23:35] poolpOrg opened #61 "You should not run your mail server because mail is hard."

[2019-09-01 15:03] goloroden commented on #61
Hey there 😊

First of all, thanks for your article, and thanks for cleaning up with a few myths! That's a good thing, and please don't take what follows as criticism on your article, but rather as some further thoughts on it…

As you said, running the mail server itself actually isn't that hard. What *is* hard is all the things around it:

- You have to backup it regularly.
- You have to care abou

[2019-09-01 15:18] mmoyles87 commented on #61
I 100% agree with @goloroden. I worked for a company previously with an IT admin who thought he can run our email in house. Our email server would go down at least once a month and on the outside it just seemed like he was incompetent. I knew better (that email is hard), but the CEO just fired the guy. The next guy, who wasn't nearly as knowledgeable just bought O365 and everyone was happy to not

[2019-09-01 15:43] cayblood commented on #61
I care enough about decentralization, data privacy and sovereignty, that I would gladly pay for a turnkey self-deployed solution in the form of an AWS marketplace offering or DigitalOcean droplet. BUT it seems to me that an even bigger problem than hosting mail is the lack of clients with Gmail's capabilities. If someone developed a Gmail clone frontend for such a solution, I would gladly pay a he

[2019-09-01 15:52] myfirstnameispaul commented on #61
@cayblood What feature of GMail has keeps you tethered to their service? Is it just the webmail interface?

[2019-09-01 16:21] poolpOrg commented on #61
@golorden

Hey,

Thanks, and don't worry, I wouldn't write and allow comments if I didn't want people to interact and contradict :-)

Yes, however backups, updates, failover, these are all not mail specific and you supposedly have to handle them for any service you run.

I'm not saying mail is easy, I'm saying it's not hard, it's not harder than running other services, it's just... work.

I have d

[2019-09-01 16:34] poolpOrg commented on #61
@dubvfan87

On the other end of the spectrum is a company I worked for who bought O365 and switched to Gmail, and another who bought Gmail and switch to self-hosting.

Heck, a month or so ago I helped a team unbreak their mail setup which was broken by proofpoint in front of O365, I got all of the pain from third-party hosting without any of the benefits.

Different experiences, but in all of them

[2019-09-01 17:37] gwlperl commented on #61
First, thank you poolpOrg for you contribution to the open source internet.

I ran my own mail system from 2002-2015.    Started out with just my own domains and then hosted domains for friends and  family.  Variations of Qmail plus postfix  plus ASSP plus custom scripts and DoveCot IMAP etc.  Ya'll know the drill.  I've a few friends that have done the same thing over the years, and all of them h

[2019-09-01 18:15] poolpOrg commented on #61
@gwlperl

Thanks for reading and commenting ;-)

We should wonder if people are quitting because they're missing a bit of information that would help them understand why they find it hard. Like the fact that SPF/DKIM are mandatory, like the fact that you should have a valid rDNS + FCrDNS and in a ideal world a matching HELO name.

How comes a lot of us, postmasters, manage to handle their mails fo

[2019-09-01 19:00] gwlperl commented on #61
I remember over the years, learning some new things the "hard way".   (SPF record?  What's that?)  For me the learning part was the reward, for others it's independence and freedom from the "big mailcorps".  And I think we agree - for whatever reason you decide to run one, actually running your own email server helps keep us all independent and free, so I salute all of you.    It's not for everyon

[2019-09-01 20:35] dm17 commented on #61
It would be great if a bunch of mail server experts got together and put together a docker-compose or swarm that is well-refined! It would also help pool optimizations & recommended documentation between mail server tooling. I would be happy to help test it :)

[2019-09-02 00:15] GaryGapinski commented on #61
@poolpOrg : very nice article. I agree with your assessments.

With one minor difference: I'd rather deflect bad actors than see them continually show up in logs. [This](https://github.com/GaryGapinski/fail2ban-extras/blob/master/filter.d/postfix-extra.md) is one of the things I use (just updated to add explanatory comments).

[2019-09-02 06:29] poolpOrg commented on #61
@GaryGapinski

Thanks !

I like seeing them in my logs myself because I test filters on them, they're my tamagotchi :-p

[2019-09-02 09:10] whataboutpereira commented on #60
Very much enjoy reading about your activities and thoughts. :)

[2019-09-02 09:18] poolpOrg commented on #60
Thanks :-)

[2019-09-02 14:59] christhomas commented on #61
ok, so maybe this is a stupid thing to ask, but where are the installation instructions? https://www.opensmtpd.org/

Having built a mail server which runs on kubernetes (https://github.com/kubernetes-mail-server) I can say the biggest problem that I had was that there are so many working parts and none of them are really explained very well.

The man-pages are either 90% of what you need and the 1

[2019-09-02 15:07] christhomas commented on #61
@dm17 checkout: https://github.com/kubernetes-mail-server

[2019-09-02 15:42] poolpOrg commented on #61
@christhomas

OpenSMTPD is an OpenBSD software, it is distributed with the system.

On other systems, the portable archive should come with a README providing details on how to install:

https://github.com/OpenSMTPD/OpenSMTPD/blob/portable/README.md

Note however that OpenSMTPD depends on LibreSSL as of latest stable release, so if you want it to use OpenSSL, you'll need to get the development bra

[2019-09-02 16:09] christhomas commented on #61
I was referring to the website, where there is barely any information at all, not even a page saying much more than "here is a link to the man pages"

I was referring to mail servers in general, like your article does.

The problem of configuring mail servers comes down to the ... then add what I said.

You obviously don't use postfix or dovecot. Their base configuration is probably 10x longer tha

[2019-09-02 16:55] myfirstnameispaul commented on #61
@poolpOrg When it comes to mail servers, the modern dev and tech crowd have difficulty seeing the forest through the trees. You may have more success trying to reach a different audience.

The Mail-in-a-Box project (MiaB) often has people posting to their forum that I can tell have little experience with server management and occasionally zero experience with command line. The community there is r

[2019-09-02 17:17] dm17 commented on #61
Though you just said previously that you had troubles with it? Will do though... Multiple SSL certs per site? I'd use letsencrypt nginx companion.

[2019-09-02 18:43] christhomas commented on #61
Not multiple SSL certs "per site" but a single dovecot serving multiple domains for email with separate SSL certs.

Maybe we didn't understand each other, the setup doesn't have problems, I was talking about the issues of setting up postfix with multiple SSL certs and how I solved it using dovecot with submission and it's SSL cert configuration allows SSL certs per domain using SNI over port 587

[2019-09-02 18:45] christhomas commented on #61
I agree with what you're saying, I just want to point out that I've been using linux since around 1996, so I'm not one of the "modern dev and tech crowd" you're referring to. I'm pretty knowledgable when it comes to linux and yet I still had to read for hours to get things working cause things didn't work exactly as described and the docs were lacking.

[2019-09-02 18:53] myfirstnameispaul commented on #61
@christhomas "Modern" would encompass most of anyone in the tech crowd today, without consideration to where or when they entered.

[2019-09-02 19:18] christhomas commented on #61
I agree, I just wanted to point out that this isn't a problem because I don't have experience with the command line or lack of experience. But this is just a problem in general with a lot of server-side software which badly lacks good and well-written documentation.

[2019-09-04 01:06] GaryGapinski commented on #61
I think @christhomas has aptly identified the difficulty. Not hard, but not effortless.

[2019-09-04 22:14] binarykitchen commented on #61
Nobody mentioning https://github.com/mail-in-a-box/mailinabox, uh?

[2019-09-04 22:17] christhomas commented on #61
They literally did about four comments up @binarykitchen :/

[2019-09-04 22:18] binarykitchen commented on #61
Ugh, I've mistakenly searched for `mailinabox` :)

[2019-09-05 08:37] ashiq54689 commented on #61
This is very very true from the user perspective. Although Roundcube 1.4 is coming, and the new default UI is much better compared to the previous version, but still nowhere near Gmail or Outlook web interface.

[2019-09-05 09:11] ngirard commented on #61
Hi there,

can't wait to read your next article !

I wish to suggest updating your CSS rules just a bit, because the line length of the text is unconstrained, making it difficult to read on a maximized / large window.

As the [58 bytes of css to look great nearly everywhere](https://jrl.ninja/etc/1/) article suggests, it can be as simple as adding something like
[code]

I'd have been glad to submi

[2019-09-05 15:27] plgruener commented on #61
I would actually be very interested in this proof (or an outline). Any tip for further research?

[2019-09-05 15:53] ngirard commented on #61
See e.g.

Banday, M. Tariq, and Tariq R. Jan. *“Effectiveness and Limitations of Statistical Spam Filters.”* ArXiv:0910.2540 [Cs], October 14, 2009. http://arxiv.org/abs/0910.2540.

[2019-09-05 16:07] myfirstnameispaul commented on #61
Also see spamsolutions.txt[1]

[1] https://craphound.com/spamsolutions.txt

[2019-09-05 16:27] poolpOrg commented on #61
@ashiq54689

I use Rainloop which is quite fine but I agree with this, now a lot of people tell me that they don't use a webmail and read on their smartphones, but it would be nice to have a choice of good UI for webmail. Sadly, I have no UI skills :-)

@ngirard

thanks, will apply, I suck at anything graphic so this is helpful :-)

will take some time this week-end to rework the website a bit, I

[2019-09-05 19:28] ashiq54689 commented on #61
I use Rainloop too. But I am waiting for Roundcube 1.4. Here are some screenshots of the new Roundcube.

![Screen Shot 2019-09-06 at 1 19 16 AM](https://user-images.githubusercontent.com/16619709/64374384-8f7a7980-d045-11e9-9e1e-c54d17357c77.png)

<img width="1580" alt="Screen Shot 2019-09-06 at 1 19 02 AM" src="https://user-images.githubusercontent.com/16619709/64374399-986b4b00-d045-11e9-9aed-bc

[2019-09-13 10:45] richardfive commented on #61
Just found your article which was referenced form another site. Agree that it is not hard to do but you do need to put in some elbow grease. I've done it all myself om a mac and documented the hell out of it on http://diymacserver.com and learned all the gritty details on DNS and SMPT, TLS and whatsoever for which I'm still grateful. In the end I got frustrated by keeping it up all the time with t

[2019-09-14 10:39] poolpOrg opened #17 "Setting up a mail server with OpenSMTPD, Dovecot and Rspamd"

[2019-09-14 12:00] leo-unglaub commented on #17
Awesome article, thanks for all your work!

[2019-09-14 13:53] mchack23 commented on #17
neat, been waiting for this article for some days now since I read your "mail's not hard" article just when I was trying to set up an openbsd smtpd server myself.
Since I'm still flailing a bit (it is working but I managed to create local mail loops for instance), I'll try and recreate and tweak your setup next :) Hints on how to set up virtual users are most welcome (and how I can relay local use

[2019-09-14 13:59] poolpOrg commented on #17
@mchack23 typo fixed

the source markdown for the articles are in this repository, feel free to submit pull requests for typos and such :-)

[2019-09-14 18:56] myfirstnameispaul commented on #17
I have been using Vultr 1GB VPS for about a year with a LEMP server spitting out transactional mail without issue. A few months ago I moved my MiaB over to the same service and haven't had any real issues, never submitted a ticket for any sort of filtering. Are you using a European DC?

Have you found [dnswl.org](https://www.dnswl.org) to be useful? I see a lot of the big guys are there.

I look f

[2019-09-14 20:14] benwaffle commented on #17
Yes, I'm interested.

[2019-09-14 21:22] superkuh commented on #17
The hard part is 5 years later when your current mailserver's OS goes end of life and you have to port everything to a new setup using different versions of things.

[2019-09-15 06:27] cmouse commented on #17
I'd like to suggest incorporating this in your howto:

OpenSMTPD could use LMTP (or execute dovecot-lda, not sure which works in OpenSTMPD) to deliver mail via dovecot, the benefit is that then dovecot updates it's indexes immediately, and you can benefit from sieve filtering for incoming mail. Then you can make dovecot filter e.g. spam messages to Spam folder directly.

[2019-09-15 07:05] ynakao commented on #17
Thanks for the great writeup. As @benwaffle mentioned, I'm also interested in large-scale email server setup especially about virtual users and multiple domain managements.

Out of curiosity, which is the OpenSMTPD v6.6.0 specific settings? Will there be similar breaking changes on OpenSMTPD in the future?

[2019-09-15 07:20] omoerbeek commented on #17
PR #18, I think the flag does not match the text.

[2019-09-15 07:37] poolpOrg commented on #17
@myfirstnameispaul

For my own needs, I'm using multiple DC (Amsterdam, Frankfurt, London, Paris) all in Europe yes.

In all honesty no, I know dnswl.org but I can't even recall if I ever subscribed mine, so they may be useful but you can certainly do without.

I'm 100% positive that I didn't subscribe most of the domains I plugged.

I don't because it really depends on what you are going after.

[2019-09-15 07:38] poolpOrg commented on #17
@cmouse

I'd rather see people write such howtos ;-)

[2019-09-15 07:50] poolpOrg commented on #17
@ynakao

All the `filter` stuff comes with v6.6.0 so while you could have rspamd, dkim and such, it was done through a slighly trickier method of "queue reinjection" where you tell OpenSMTPD to relay to an Rspamd proxy or a DKIM proxy and you tell the proxy to re-enqueue in the daemon.

It was not necessarily much more complex in terms of configuration but it was a bit more complex in terms of und

[2019-09-15 10:55] cmouse commented on #17
Perhaps. But I think it would make sense to involve dovecot on the delivery phase always, as it would enable much more functionality in dovecot and would allow dovecot to update it's indexes during delivery.

[2019-09-16 10:21] jirib commented on #17
My only concern for HA mail setup are mails waiting in a queue to be delivered, eg. a mail server in DMZ with paused delivery aka "deffered relaying" (cf 9.2.1 Postponing Mail Delivery in Postfix: Definitive Guide; would that be doable with `smtpd -P mta`?) and which waits for a manual trigger to try to deliver via SMTP to a mail server in intranet. If the mail server with this setup would fail, t

[2019-09-16 23:43] epsilon-0 commented on #17
sweet as fuck!

[2019-09-17 04:55] jungle-boogie commented on #17
Great article and very detailed. Thanks for taking the hours to craft this together and get everything in a functioning state.

[2019-09-17 06:50] poolpOrg commented on #17
@jirib

I don't understand the "if the mail server with this setup would fail, the mails would be lost" part because unless it got a clear rejection or acceptation, it would not lose them, you are describing what a backup MX does: buffer mail until primary host is back again.

If what you are scared about is if the backup MX dies while the primary MX is up, then I would say that there is a simpler

[2019-09-17 12:32] ozgurkazancci commented on #17
Great article! Thanks for all your work! <3 I just wish it was covering a Roundcube installation/integration as well. :/

[2019-09-17 21:49] jirib commented on #17
I wanted to say that mail is already accepted by primary MX acting as incoming mail gateway/proxy.

Yes, a distributed filesystem would be ok but there's no one on OpenBSD. (Yes, there's NFS or (i)SCSI from a NAS/SAN box attached to multiple mail servers but that's not "distributed" FS.)

Or... a kind of resource management/clustering, where only one instance would consume this distributed queue.

[2019-09-18 07:51] ghost opened #63 "Fantastic Article"
Gilles, This is a fantastic article and spot on in every respect. I would just consider adding something about the appropriate permissions for the DKIM private key. One thing I found that I had to do chmod 0440 and chown root:_rspamd in order for rspamd to be able to read and use the private key. Save for that, everything works perfectly and thank you. Your filter has allowed me to ditch that abom

[2019-09-18 14:23] ghost commented on #17
I'd love to see an addendum to this article that shows how to setup virtual users for dovecot to use. I'm currently building an OpenBSD/OpenSMTPD mail server for my whole family, using your excellent article, but I'm very reticent to creating local user accounts for every member of my family.

[2019-09-18 14:27] ghost commented on #17
You mean a year, right? OpenBSD provides security fixes for a release for one year, not 5.

Also, configuring everything through an automator like Ansible makes re-creating your setup every year pretty painless.

[2019-09-18 16:49] superkuh commented on #17
Yikes, but no. I was referencing my own current problems with my 5 year old debian mailserver on a VPS and the problems of running your own mailserver long term in general. Back then I followed the guides from https://workaround.org/ispmail much like people will likely follow the guides here now. But in some years what's in the guides will no longer apply. And I severely doubt that any automater i

[2019-09-19 03:07] jamesdtyler commented on #17
Hurrah, for this document. I believe all of the answers that kept me from self-hosting my own server have been addressed. Email, pure and simple, is the key to my shackles.  I look forward to the other documents that you propose. They are also needed.

[2019-09-20 08:19] ozgurkazancci commented on #17
Would you add few addon lines, words regarding how to setup virtual users for dovecot? Many thanks once again!

[2019-09-20 09:53] poolpOrg commented on #17
I'll write other articles to tackle specific setups, this one was just to show that you could get a general setup done :-)

[2019-09-20 10:36] julienXX commented on #17
Hey great article! I follwed it with OpenBSD 6.5 on vultr and can successfully login manually via `openssl s_client -connect mail.t***.***:993` or `openssl s_client -connect mail.t***.***:imap -crlf -starttls imap`.
But impossible using thunderbird or iOS Mail. I always get `dovecot: imap-login: Aborted login (no auth attempts in 0 secs): user=<>` for thunderbird and I can login but the connection

[2019-09-20 14:07] poolpOrg commented on #17
mh, doesn't ring a bell, I'll check with an ipad later today :-)

[2019-09-20 18:51] poolpOrg commented on #17
![47947F6C-9D85-4586-8370-FB81421B34CE](https://user-images.githubusercontent.com/895503/65351354-2a4b8a00-dbe8-11e9-8ad4-165a8053aadb.png)

Works fine for me :-/

You should enable debug logging in Dovecot, this might help understanding where the issue occurs.

[2019-09-21 23:41] iodous commented on #17
Is `dkim_signing` actually needed in options.inc?  I'm running on -current and my logs say:

`2019-09-21 19:38:41 #1265(main) <8k84xk>; cfg; rspamd_init_filters: requested unknown module dkim_signing`
`2019-09-21 19:38:41 #1265(main) <8k84xk>; cfg; rspamd_init_lua_filters: init lua module dkim_signing`

[2019-09-23 17:32] vinnyt commented on #17
awesome article! Would love any pointer to setting up virtual users.  Thanks again!

[2019-09-24 05:33] areilly commented on #61
As someone in the "tried that more than 10 years ago and gave up" camp, I'm particularly interested in the "list of rules and you're golden" part.  In particular, I don't see how _most_ people, even _most_ of the people who might be interested and technically competent to get a mail server running on their own can get past the first hurdle: have reverse-DNS lookup return your FQDN.  If you squib o

[2019-09-24 08:02] christhomas commented on #61
You should look for Reverse DNS management where you get to put the host you want your ip address to resolve to. Then that host should be the name of the host where the email server is. Then if google looks up your ip address, it'll find the hostname, then it'll use the ip address to connect to the server and expect that they match up.

[2019-09-27 16:43] muellert commented on #61
Sounds good to me: You are one of my potential customers. I am currently overhauling our mail service, but input on which features you want, are highly appreciated. Of course, I also use other people's email services, eg. those from Google (and sometimes their GSuite, too), but my usage may still be quite different from yours.

[2019-09-27 16:56] muellert commented on #61
I've been running email service for customers since >> 10 yrs _without_ a glitch. On the Internet, too. It is quite doable, and most of it can be automated.

That may well have been one such incident of the big companies trusting each other, but not you, the small guy. I suggest reading 'mailop' for a better picture about what can, and does, go wrong. The big guys just don't tell you when your ema

[2019-09-27 17:15] muellert commented on #61
If you are on Debian 9 or 10, you can

$ sudo apt install opensmtpd

What else do you want to know?

Btw, thanks for the Kubernetes project! It sure looks interesting, without even having looked into it.

[2019-09-27 17:16] dm17 commented on #61
@muellert I'd like to hear about your setup! Any thoughts on my idea of getting a bunch of pros like you to converge on a set of dockerized services? That way we could have something like nginx-letsencrypt-companion, but for a whole mail server... And it would be tested from more angles of experience.

[2019-09-27 17:19] myfirstnameispaul commented on #61
It would be nice if commenters were more specific as to what they like in some service. Stating "Gmail" and nothing else doesn't help developers create a competitive product because it doesn't communicate what it is about "Gmail" that keeps a user from migrating to a different service.

My experience with Gmail and my own mail server is that Gmail works great when used with other Google products a

[2019-09-27 17:29] dm17 commented on #61
Your question about attributes that are primary when someone says "create something to compete with Gmail" would be:
-- The fact that it is a suite (zoho excluded as alternative being non-OSS)
-- Having good webapps (not requiring all users to have clients)

[2019-09-27 17:40] muellert commented on #61
So far, the setup is simply:

Postfix, Dovecot, Spamassassin and Postgrey.

Not sure I'm going to work on that soon.

[2019-09-27 17:43] dm17 commented on #61
Ya, I'm more trying to stoke some brainstorming. For example, if such a thing would make life easier for all of you veteran mail server admins... Or just make more of a headache; easier for us all to find our own way?

[2019-09-28 11:12] poolpOrg opened #64 "Jules, OpenSMTPD 6.6.0 upcoming release and related things"

[2019-09-28 18:07] whataboutpereira commented on #64
Oh, congrats on forking Jules! :D My neighbour had his firstborn just 3 weeks ago as well. :D

[2019-09-30 06:25] poolpOrg commented on #64
Thanks :-)

[2019-09-30 06:27] poolpOrg commented on #17
@iodous well if you want dkim signing it is needed for sure :-) what version of Rspamd are you using ?

@vinnyt thanks, it's a popular request so I'll write about it at some point :-)

[2019-09-30 09:53] vstakhov commented on #17
`filters` is used just for C modules not for Lua ones. Lua modules are automatically enabled if their's section is represented in the config file. In fact, this `filters` stuff is nothing but legacy (as well as C modules in general). `dkim_signing` is a Lua module, so it shouldn't be added in `filters`.

[2019-09-30 10:02] poolpOrg commented on #17
oh nice, wasn't aware so this means it'll simplify instructions further, will update :-)

Thanks @vstakhov !

[2019-10-02 20:39] hrkfdn commented on #64
First of all, congratulations!
Thank you for your work on smtpd and these reports, I enjoy reading them a lot.

[2019-10-03 13:34] poolpOrg commented on #64
Thank you :-)

[2019-10-17 15:28] mikejsavage commented on #17
I think you should add a note about rspamd log rotation. Just found that mine had grown to 90MB :)

    echo '/var/log/rspamd/rspamd.log      _rspamd:_rspamd 640  7     *    24    Z "pkill -USR1 -u root -U root -x rspamd"' >> /etc/newsyslog.conf

[2019-10-17 19:03] mt7479 commented on #17
~~Following the howto on 6.6 I had to change the following bits in `10-auth.conf` to get dovecot working:~~

~~disable_plaintext_auth = no~~
~~auth_username_format = %n~~

~~IMO this is due to the local username authentication. You also have to specify the bare username (not username@domain) for both imap/smtp.~~

/cc @poolpOrg ^

[2019-10-20 18:38] poolpOrg commented on #17
@mikejsavage indeed :-) you can create a pull request to that post, otherwise I'll add a note soon.

@mt7479 will have a look, I don't have these myself and I wouldn't set disable_plaintext_auth to no unless I'm using a TLS-enabled proxy so I'm curious why you'd need that.

[2019-10-22 07:37] mt7479 commented on #17
For whatever reason I could not login into my imap mailbox. However, I removed the lines again and login works as expected. Not sure where I fucked up, I will replicate the setup in a clean VM an test again.

[2019-10-22 10:17] nanaya commented on #17
I'm setting up a sending-only/relay box (running openbsd 6.6) to sign dkim but I couldn't get it to sign my mails (using `cat file | mail -s subject dest@address`).

my `smtpd.conf`:

[code]

and then I have this file `/etc/rspamd/local.d/dkim_signing.conf`:

[code]

All mails I got doesn't have dkim signature (`dkim=none (no signatures found);`). Any hint on what I'm doing wrong would be nice...

[2019-10-22 20:17] poolpOrg commented on #17
piping to mail is somewhat special because it uses a local unix socket enqueuer and not the network, you therefore need to attach the filter to that listener with `listen on socket filter { rspamd }`, that should get you covered.

Unrelated, there seems to be an issue with this version of rspamd which causes zombies to remain when trying to shut them down.

The issue has been fixed in more recent

[2019-10-22 22:13] montdidier commented on #17
I just wanted to say I really enjoyed this article. You are doing fantastic and important work. I have been an OpenSMTPD convert for several years now and am very much looking forward to upgrading to the latest version (will find time any day now).

[2019-10-23 01:42] nanaya commented on #17
Thanks. That indeed did the trick. Though I mistakenly assumed the domain to be just the main domain (?) (`nanaya.pro`) instead of the actual domain (?) used (`ruri.nanaya.pro`). It's easily fixed though.

[code]

Good to know. I'll keep that in mind.

[2019-10-25 10:04] lorantfecske commented on #61
I just leave this here:
https://www.mail-archive.com/mailop@mailop.org/msg08806.html
https://news.ycombinator.com/item?id=20851880

[2019-10-25 10:27] poolpOrg commented on #61
and what is your point ? :-)

Regarding the first link:

"I asked on different forums and tried to follow the advices I got.
Previously I didn't have SPF nor DKIM (as I wrote, for long time it was
absolutely no obstacle in getting my messages received by Gmail users)"

Someone did something wrong for a long time (according to his own words) until his reputation got impacted and pushed him to spam

[2019-10-26 21:09] poolpOrg opened #65 "October 2019 report: OpenSMTPD 6.6.0 release mostly"

[2019-10-26 21:58] ngortheone commented on #60
I listened to FLOSS Weekly podcast about OpenSMTPD. Really liked it, apart from one thing - the show's host was an ignorant idiot, who couldn't spell your name right even once, and was especially pleased by that.

@RandalSchwartz, if you read this - I think you need to apologize for the disrespect that you demonstrated during the show. And next time try to have some more respect to your guests (by

[2019-10-26 22:07] poolpOrg commented on #60
I'm glad you liked the show :-)

I don't think there was disrespect from him and didn't feel it this way personally, we had a chat before the show and he was really nice to me. People having trouble with my name is not uncommon and I don't have habit of correcting because even in my own language people mispronounce so I don't expect foreign people to pronounce correctly.

I've been in the OpenBSD

[2019-10-26 23:14] ngortheone commented on #65
Awesome work!

[2019-10-27 20:02] christhomas commented on #61
I think you're missing the point. Which is that it's easy to say that it's not hard, but when there are countless examples of how people have tried and failed, sometimes because of their own fault, other times because the documentation is just so utterly terrible. It's not such a difficult thing to understand why email has such a bad reputation when it comes to configuration and maintenance.

You

[2019-10-29 22:27] ghost commented on #17
Is redis actually required for the setup as stated in the article?

It looks like on OpenBSD, the `statistics.conf` file uses SQLite, and I'm not really seeing anything added to the redis database.

[2019-10-30 05:06] poolpOrg commented on #17
@40b0a3cd:

It is required because on a default install `rspamd` may result in a `greylist` action which `filter-rspamd` will honour ... but greylisting requires `redis` to store the greylisting data.

You can get by without `redis` by commenting the greylisting threshold in `rspamd` configuration.

[2019-10-30 06:31] ghost commented on #17
@poolpOrg I think the article (at least in the context of OpenBSD 6.6) is missing the section on [configuring redis](https://rspamd.com/doc/configuration/redis.html). I created a basic `/etc/rspamd/local.d/redis.conf`, and now have data showing up in the DB.

Maybe that wasn't the point, but I did turn my brain off after you starting covering dovecot and rspamd. They have far too many configuratio

[2019-10-30 07:04] poolpOrg commented on #17
@40b0a3cd

There's no section on configuring redis because you actually don't have to, the default will listen on localhost and it seems that by default `rspamd` will catch that based on my experimentations ;-)

[2019-10-30 13:15] ghost commented on #17
@poolpOrg I know redis listens by default, but rspamd was not connecting for me. Running `KEYS *` in `redis-cli` was showing nothing until I added the rspamd `redis.conf` (and data then immediately started showing up). Also the greylisting module documentation hinted that "To enable the module with default settings you need to define at least redis servers to store greylisting data:". I just creat

[2019-10-30 16:54] ghost commented on #65
Very excited about the book! Keep us updated :smile:

[2019-11-03 11:19] tleguern commented on #17
Hello,

Thank you very much for this article, it is very much appreciated. I used it to setup my new mail server, as a replacement for a box still running an older version of opensmtpd.

Except a few variations like toying with dkimproxy and opensmtpd-filter-dkimsign instead of rspamd for the DKIM-signing bits my configuration is quite close to the one your presented. I am able to send email to my

[2019-11-03 22:23] poolpOrg commented on #17
@Aversiste what's your domain name ? can you send me a mail at gilles@poolp.org ?

[2019-11-07 14:27] chevybeef commented on #17
Firstly, thank you for a fantastic article! I do have one problem though, I can't for the life of me get spam/ham learning to work. When I move a file from Junk to INBOX, there's no message in the log file. When I receive email I see this in the log: task; bayes_classify: skip classification as ham class has not enough learns: 0, 200 required. I'm using -current (6.6 GENERIC#383). The email client

[2019-11-10 17:58] mateors commented on #17
mail$ doas pkg_add redis rspamd opensmtpd-filter-rspamd

above command does not work, it says: doas: syntax error at line 1

Please tell me the write syntax

[2019-11-11 17:52] chevybeef commented on #17
Just a quick follow-up on my previous message. I can confirm that moving an email from Junk to INBOX in Outlook 2016 does not trigger the learn ham action however moving from Junk to INBOX on the default Mail app on my iPhone does and I see the message in the log: rspamd_controller_learn_fin_task: <127.0.0.1> learned message as ham. I'm stumped as to how to fix this as Oulook is my main email clie

[2019-11-11 18:02] chevybeef commented on #17
@mateors The doas utility executes the given command as another user i.e. root. If you don't have it installed and configured it won't work but you can login as root and run the pkg_add command without the doas.

[2019-11-12 01:33] montdidier commented on #17
Finally upgraded to the latest version. So much power in sensible defaults and succinct configuration syntax. Will introduce rspampd soon with the filter. This combination has so much promise towards closing the gap(s).

[2019-11-12 03:09] mateors commented on #17
@chevybeef
Thank you very much for your kind info.
I just changed my default user to root passing command: su -
then added this command: doas pkg_add redis rspamd opensmtpd-filter-rspamd
But now got below error:

Can't find redis
Can't find rspamd
Can't find opensmtpd-filter-rspamd

what should i do now?

[2019-11-12 10:34] chevybeef commented on #17
@mateors

Firstly, don't use `doas` here, there's no need to when you are already root.

Are you running OpenBSD version 6.6? Use `uname -a` to find out. If so, you should read the FAQ on the OpenBSD website, especially the section on Package Management. You might be missing `/etc/installurl` or you're not connected to the internet. Run `man afterboot` and read that for the basics on how to get co

[2019-11-12 11:11] mateors commented on #17
@chevybeef
You made my day awesome, i am grateful to you.
I just add the following line to  /etc/installurl file & save changes:
https://cdn.openbsd.org/pub/OpenBSD

after that when i executed following command
#pkg_add redis rspamd opensmtpd-filter-rspamd

it begun to installing .....and few seconds later i got the following response:

quirks-3.182 signed on 2019-11-10T13:06:51Z
quirks-3.182: ok

[2019-11-15 10:20] chevybeef commented on #17
Adding to this thread, I found the following information on workaround.org which might be useful for a possible fix:

"I’ve noticed that Outlook (2016, Office 365) does the move to junk folder slightly different than other clients.
When moving with Outlook, following entry is logged:
Debug: imapsieve: mailbox Junk: APPEND event
However, when moving with another client, webmail in this case, follow

[2019-11-15 10:36] poolpOrg commented on #17
Interesting, if you tweak the config make sure to do a pull request to my article ☺️

[2019-11-22 16:24] UniqueActive commented on #17
Hey, I am struggling a bit, so I wanted to turn here for help because I can't get much info out of the logs.

I can connect to my mailserver and tell it to send emails; I can also send emails to my mailserver and see them in the logs, but then I get this output:

[code]
I would really appreciate if someone could give me a pointer or help me diagnose this :)

I should also add, I am running this se

[2019-11-23 11:32] poolpOrg opened #66 "November 2019 report: OpenSMTPD 6.6.1p1, filter-greylist and tons of portable cleanup"

[2019-11-24 19:58] ngortheone commented on #66
This is awesome. I love reading your updates.
Thanks for the credit btw :)

[2019-11-26 08:47] goekce commented on #49
a typo on the webpage https://poolp.org/posts/2018-05-21/switching-to-opensmtpd-new-config/

action act05 relay src <sources> helo-names <helonames>
should be
action act05 relay src <sources> helo-src <helonames>

[2019-11-26 13:41] poolpOrg commented on #49
This was implemented since my last response but only for OpenSMTPD linked against LibreSSL, the reason is that we don't just do ECC but we do ECC with private keys not exposed to the network-facing process and this relies on a low-level API which diverges between LibreSSL and OpenSSL.

Catch-all works the same, but the _virtual_ keyword is now associated to an action, not to a match.

The article

[2019-11-29 05:47] Celti commented on #17
This is a great guide and it finally gave me incentive to try and replicate and improve my postfix configuration with opensmtpd. I'm having one problem, though — how can you set up a "whitelist" with opensmtpd filters?

Say that there is one mailserver I know is legitimate, and sends me required mail, but they've got a misconfigured FCrDNS and I can't convince the server admin to fix it, so I whit

[2019-11-29 07:17] poolpOrg commented on #17
@UniqueActive this looks like your provider blocks outgoing 25, you should double-check by connecting through SSH to your VPS and do a `telnet in.mailbrix.mx 25` from there, you should see a banner.

@Celti sorry but you can't do that _with builtin filters_ in the 6.6.x release, to achieve what you want you'll need a proc filter at this point. If you open a feature request on the OpenSMTPD issue t

[2019-11-30 16:16] didarhossain commented on #17
@poolpOrg thank you for the wonderful article and your insights about the issues related to email. I enjoyed it and actually appreciate that you took the time to explain things and not just type out configuration syntax to be copy pasted. Like some other people mentioned this kind of in depth guides are what are really needed by some us who want to understand _why_ and _what_ the options do.

Plea

[2019-12-01 14:15] poolpOrg opened #67 "SPF-aware greylisting and filter-greylist"

[2019-12-02 01:50] montdidier commented on #17
I would just like to draw some attention to the existence of the opensmtpd-filter-dkimsign package that allows for DKIM signing without the need for rspamd which is a fine package but I myself find it a little heavyweight for my own needs.

[2019-12-02 07:23] poolpOrg commented on #17
@didarhossain thanks ;-)

@montdidier yes, this article was to cover the _most common_ request I had which was "how do i setup a mail server with an antispam and dkim signing" but there are other filters and other ways to do stuff.

I'll be very honest, Rspamd handling a lot of things ranging from DKIM to antivirus integration, having an article describe a setup with filter-rspamd allows me to tel

[2019-12-12 23:40] jogness commented on #67
I am happy to see you talk about SPF-aware greylisting. This seems like the natural solution.

Also, I am also happy to see you talk about tarpitting via laggy SMTP transactions. On my exim4 servers I do this using the `delay` control for the `deny` statement. I was a bit disappointed that opensmtpd doesn't have that. I was expecting something like:

    match <options> delay 100s reject

... or m

[2019-12-13 00:50] poolpOrg commented on #67
Thanks for your comment :-)

I have committed an additional change to `filter-greylist` today which whitelists the domain of RCPT addresses when the session originates from a unix socket or has been successfully authenticated. This automatically whitelisting domains that a trusted sender has emitted mail to.

For the tarpitting, we decided not to bring that in builtin filters because it is tricky

[2019-12-13 20:40] estrogently commented on #67
Thank you for your work on all these filters and on OpenSMTPd in general!

I've been noticing some connections from Google servers still getting greylisted by IP rather than domain, and thus never getting whitelisted. My guess is these are from G Suite domains which haven't (correctly) set up SPF. I'm not sure what to do about that.

[2019-12-14 17:16] poolpOrg commented on #67
@estrogently could be that yes, without having an example domain it's hard to tell.

There's not much to do with domains with invalid / missing SPF anyways, a good way to handle them in my opinion is to Junk them by default so they end up in a Spam folder then manually whitelisting them if they're worth it. They're going to be penalized by the big mailers so penalizing them too is just aligning wi

[2019-12-14 17:30] myfirstnameispaul commented on #67
@poolpOrg I have worked for old small companies that registered their domains in the late 90s to early 00s. They never had any SPF record but they inbox everywhere. There must be something more to reputation, even to the oligopolists. They even switch mail providers and the reputation follows them.

[2019-12-14 18:07] poolpOrg commented on #67
@myfirstnameispaul that is not surprising.

Domains have a reputation that goes beyond just technical details like having setup SPF, DKIM and DMARC. The reputation is not just a technical validation, it is tied to the likelihood that recipients will complain when the domain sends them mail.

Let's take Gmail for example: what they really care about is not so much that SPF, DKIM and DMARC are set f

[2019-12-15 11:39] poolpOrg opened #68 "Decentralised SMTP is for the greater good"

[2019-12-15 13:47] poolpOrg opened #69 "Decentralisons SMTP pour le bien commun"

[2019-12-15 19:38] myfirstnameispaul commented on #68
I generally don't see mention of the terribleness of blacklists plus ignoring domain owner instructions, but maybe this is a little off-topic from your posts thus far.

I recently had an issue when signing up for the Dovecot mailing list. Turns out their IPv6 address was blacklisted by Spamhaus (n.b., a German company). The Dovecot mailing list server admin informed me this was an ongoing problem

[2019-12-16 06:47] B4rb3rouss commented on #69
Merci pour cet article qui pointe vers la configuration en anglais.
Pour information, je me suis permis d'en reprendre certaines lignes dans [un guide](https://ybad.name/ah/#heberger-son-courrier-electronique) plus complet, en ajoutant opensmtpd-extras pour partager des tables "passwd" avec dovecot (je ne connais pas de meilleurs moyens).
J'en profite aussi pour te remercier de tout ton travail su

[2019-12-16 06:59] poolpOrg commented on #68
Yes, I see **third-party operated** blacklists as a danger when the process to enter a blacklist is not automated on a pattern of behaviour and the process to exit the blacklist is not automated expiry.

A lot of people prefer to cut spam at all cost but I prefer to have a few false positives classified in my Spam folder than lose legitimate mail because a third-party operated blacklist messed up

[2019-12-16 07:11] poolpOrg commented on #69
Top !

Pour les tables "passwd" en fait ça dépends de quelles fonctionnalités tu veux utiliser dans Dovecot.

Si tout ce que tu veux c'est authentifier des utilisateurs virtuels et que tu ne te sers que du username et du password, alors tu peux créer un simple fichier qui contient deux colonnes séparées par un `:` genre:

    $ cat /etc/mail/accounts.txt
    gilles:$2b$09$1l68v6AhM9cd8v6iWtBEnuNio

[2019-12-16 08:25] B4rb3rouss commented on #69
* Gilles Chehade <notifications@github.com> le [15-12-2019 23:11:34 -0800]:

Dans le cadre de mon tuto, pas besoin de quotas ou autres
fonctionnalités supplémentaires. C'est pour de l'auto-hébergement ou un
nombre restreint d'utilisateurs (moins de 1000 on va dire).
C'est tout bête finalement quand c'est toi qui le décrit. J'ai eu beau
éplucher la doc de dovecot et la man table(5)...

J'utilise de

[2019-12-20 16:13] ozgurkazancci commented on #17
Super cool article! Extremely useful, thank you!
Any possibility of having:
-Roundcube integration
-Creating virtual users on any possible update on article?
Many thanks!

[2019-12-23 20:04] poolpOrg opened #70 "Mettre en place un serveur de mail avec OpenSMTPD, Dovecot et Rspamd"

[2019-12-24 14:48] poolpOrg opened #71 "December 2019: OpenSMTPD and filters work, articles and goodies"

[2019-12-24 20:52] ngortheone commented on #71
implicit local parts of the rules is what I disliked and I am absolutely excited to see them go away!

[2019-12-26 13:43] hucste commented on #69
Gilles, si tu permets, et je serais étonné du contraire, je vais te faire une proposition de relecture - promis en tenant compte de ta spécificité de nouvelle ligne, après virgule :p

[2019-12-26 15:59] poolpOrg commented on #69
@hucste  avec plaisir :-)

[2019-12-26 16:00] poolpOrg opened #72 "SPF-aware greylisting et filter-greylist"

[2019-12-27 22:33] djakk commented on #70
Merci !! Je crois que je vais essayer :)

[2019-12-28 20:44] terminar commented on #71
Hi Gilles,
thank you for the great work with OpenSMTPD and especially the new filter API.
I had to switch our really old mailservers from qmail+vpopmail to something new and had some issues with postfix. Then i looked at OpenSMTPD and you blog entries, tried it, mixed it up with dovecot+rspamd and i loved it!

I was able to port most of our special configuration/functionality to the new setup but

[2019-12-29 00:47] poolpOrg commented on #71
Hi @terminar,

yay :-)

Only files which borrow logic I wrote should bear my name and retain the ISC license, files not borrowing my code don't have to be under my copyright nor under the ISC license.

You're under no obligation to publish your source, but if you do the ISC license should always appear on files borrowing my code. If you intend to publish your source with a different license, the f

[2019-12-30 14:09] terminar commented on #71
I fixed it in the filter-archive.go file.

Yes, thanks!

Nevertheless i fixed it ;)

Thanks, i think that's enough for now. If there are some bugs i'll see them with crashes.

Just to mention it, i had an idea:
I am thinking about moving the code into a more generic "opensmtpd-filter" golang package (which capsulates the whole session management, "version < 0.5" check and some logic to allow regis

[2020-01-04 12:37] jdelic commented on #71
@terminar

I am thinking about moving the code into a more generic "opensmtpd-filter" golang package (which capsulates the whole session management, "version < 0.5" check and some logic to allow registerEvent(), writeResult(), ...) also for other filter-developers. That has also to do with filter-rspamd.

Could you take a look at [opensmtpd-filters-go](https://github.com/jdelic/opensmtpd-filters-g

[2020-01-04 13:56] terminar commented on #71
@jdelic Looks interesting and it seems that i'm not the only one who is thinking about this!
But give me some time to look at the code and understand it in depth. I'll comment it in your repository as a new issue.

[2020-01-06 19:59] Glandos commented on #70
Pour l'apprentissage auto, je conseille https://johannes.sipsolutions.net/Projects/dovecot-antispam/

Je ne peux pas parler de l'installation (c'est empaqueté dans ma distribution), mais à la configuration, ça me semble plus simple que les règles sieve.

[2020-01-06 20:43] poolpOrg commented on #70
Le plugin antispam a été déprécié à ma connaissance:

https://dovecot.org/pipermail/dovecot/2017-February/106989.html

A minima sur mon OS, le package a disparu récemment :-/

[2020-01-09 16:48] yeupou commented on #17
Interesting article.

However, proposing to  block mail due to lack of rDNS by default is questionable. I will block legitimate senders because they have no control over the rDNS and the ones that do (FAI etc) just dont care enough.
It is not a random unlikely issue, it is the case for at least one of the major French ISP that provides full stack fixed IP.
Greylisting is already enough to get rid

[2020-01-09 19:20] poolpOrg commented on #17
@yeupou the article also suggests junking instead of blocking for people who think it's too harsh and are scared to block such senders.

I personally think that blocking servers without proper rDNS and FCrDNS configuration is legitimate for several reasons but the most pragmatic one is that servers that lack proper rDNS and FCrDNS configuration are already severely impacted, if not blocked, at var

[2020-01-09 20:07] yeupou commented on #17
To be clear, yeah,  I can confirm that some Big Mailers are already posing problem due to this.
It is mostly Office365 that is the most annoying with this, a joke a consider how are configured theirs servers (hint: https://yeupou.wordpress.com/2019/08/20/delisting-an-exim4-server-from-office365-ban-list/ ).
For the other ones, it pass if the rest is clean, especially on with SPF, DKIM etc all prop

[2020-01-09 21:26] poolpOrg commented on #17
This is where I don't agree.

The filtering at ISP and Big Mailer Corps is not based on one-time checks but on volume over time. That you pass is good but it's not good if this doesn't stand with volume increases or time. Forums are full of people saying "It worked until for no reasons I started getting blocked" but this is just a consequence of failing over time and not instantly.

A **simplified

[2020-01-09 22:48] yeupou commented on #17
I am quite sure everything you write is accurate :-)

Still, I am not sure to understand how it is possible, on one hand, to acknowledge that blocking lack of rDNS will for sure block legitimate users and that having proper rDNS is often beyond the possibilites of these legitimate users (because regarding rDNS, there is nothing to figure out, in the end, either the IP block owner make it possible

[2020-01-10 03:10] montdidier commented on #17
I agree with yeupou in that I do not believe a lack of rDNS is a great criterion and I do not want to advocate for the penalisation of those who do lack rDNS. Selfishly I am one of those people.

I completely concede the point about "big email" very likely already penalising that set of mail servers already. Luckily I have not observed any negative impact from my own experience. Albeit - my domain

[2020-01-10 05:16] poolpOrg commented on #17
@yeupou

I don't acknowledge that having proper rDNS is beyond the possibility of legitimate senders, I don't know where you picked that. It is beyond the possibility only for people that are willing to self-host at all cost on a residential connection from an ISP that doesn't provide control over rDNS. Someone willing to set things up correctly has multiple options to do so, none being complex or

[2020-01-21 11:40] barbosaaob commented on #17
Thank you very much for the great article!

Is it worth to mention `/etc/mail/mailname` file?
Gmail was tagging emails as spam because they had the server hostname (user@hostname) instead of my domain (user@domain) when they were sent from the server (script calling `mail(1)` to send some server report, for example).
Solved using `mailname`.

Thanks again!

[2020-01-25 10:12] poolpOrg opened #73 "January 2020: OpenSMTPD work - libasr and libtls"

[2020-01-27 21:25] 22decembre commented on #72
Bonjour et merci.

J'adore ton travail et je l'utilise moi-même (opensmtpd). Concernant ce concept de spf-aware greylisting, serais-tu en discussion avec le dev' de spamd pour pouvoir y integrer ton code (ou la fonction, avec un code propre) ? Je n'ai pas encore essayé ton filtre pour l'instant.

Sinon, bah ca fait un peu doublon, parce qu'il faut toujours éviter aux Big Corps de passer devant spa

[2020-01-27 22:04] poolpOrg commented on #72
Non, je n'ai pas discuté avec le développeur de `spamd(8)` pour deux raisons:

La première est qu'il y a de grandes chances que si je touche à `spamd(8)`, je me retrouve mainteneur alors que je ne l'utilises pas et que je ne suis pas convaincu de son utilité.

La seconde, comme dit dans l'article est que:

Que ce soit `spamd(8)` ou `filter-rspamd`, la condition pour passer le greylisting est fonda

[2020-01-29 13:34] B4rb3rouss commented on #72
Ces progrès sont effectivement très intéressants sur le principe par domaine plutôt que par IP, et puisque spamd ne gère pas l'ipv6 comme l'a indiqué 22decembre.
Cependant, spamd reste à mon avis très utile pour appliquer des sanctions, ce que tu évoques à la fin de ton article. Les spamtraps sont vraiment puissants et permettent une lutte active contre les spammeurs : on réplique au lieu de subir

[2020-01-31 00:32] poolpOrg opened #74 "OpenSMTPD advisory dissected"

[2020-01-31 18:23] z3bra commented on #72
Très bonne idée d'intégrer le SPF-walk au processus de greylisting!
J'utilise `spamd(8)` personnellement et j'en suis très content, outre le besoin de gérer le whitelisting des domaines multi-MX à la main.

Je ne sais pas où en est ton développement sur `filtre-greylisting`, mais il y a un cas qui n'est pas couvert, c'est celui des domaines relayés par d'autres mailers.
Typiquement les noms de dom

[2020-02-01 02:53] kevquirk commented on #61
Well thanks for this, I’m now seriously considering self-hosting my email again. I did it a few years ago using Zimbra. For the most part it was generally easy once I had scripted the updates/backups etc.

This may be fun. 😊

[2020-02-01 08:58] fedetft commented on #74
Two questions from a long time debian+opesmtpd user: in your post you described the severity of the vulnerability for the mbox, maildir and lmtp cases, but what about mda?

My config looks like this
`action receive mda "/usr/lib/dovecot/deliver -d %{user.username} -f %{sender}" user mail alias <aliases>`

is dovecot run directly as an unprivileged user or it goes through a vulnerable intermediate

[2020-02-01 09:36] poolpOrg commented on #72
Tu verrais ça marcher comment ?

[2020-02-01 09:50] poolpOrg commented on #74
I didn't mention `mda` because it is similar to `maildir` and `lmtp` (they are syntaxic sugar to `mda` for common mail delivery agents): `mda` is **potentially** vulnerable but **without** privileges escalation as it can only run from an unprivileged process.

I say **potentially** vulnerable because this is directly related to the command used, some may have no impact, others may have the same im

[2020-02-01 11:31] kaey commented on #74
Users can avoid dangerous code by not using `action mbox`, is that correct?

[2020-02-01 12:07] Midar commented on #74
Unfortunately I saw the advisory waaaaay too late due to travel. There definitely are exploitation attempts in my logs:

[code]

Would there be anything in the logs on a successful one? I'm currently trying to figure out if I need to reinstall the machine.

Did I dodge a bullet here because my config should only allow local users to send to the empty domain? My config looks like this:

[code]

/va

[2020-02-01 12:44] fedetft commented on #74
Thanks for the quick reply.

I was reading again your post, and from my little understanding of how mail delivery works, although in the general case there has to be a process running as root, in some configurations this may not be so.

Correct me if I am wrong, but with a config like mine, with just one type of receive action

`action receive mda "$command" user mail alias <aliases>`

opensmtpd c

[2020-02-02 00:41] poolpOrg commented on #74
In a vulnerable OpenSMTPD, only maildir is safe.

On a fix OpenSMTPD, yes you are right: only `action mbox` is dangerous.

I'm working with other OpenBSD hackers on lifting the requirement for privileges in `mail.local` so that OpenSMTPD can consider it similar to any other delivery method and it will no longer be dangerous.

[2020-02-02 00:47] poolpOrg commented on #74
These attempts  failed for a variety of reasons ranging from not understanding how the exploit works and trying to use it on an authenticated listener where MAIL is not processed for unauthenticated sessions.

On a successful one, you'd see the session accepted for delivery, the exploit doesn't happen during the session but is deferred to be executed during the delivery. If you don't see a message

[2020-02-02 00:49] poolpOrg commented on #74
Yes, this action would create a process and immediately drop privileges to user `mail`.

That is already what happens

[2020-02-02 08:24] fedetft commented on #74
Actually I was suggesting to drop the privileges **at startup** if the config allows it, before even accepting connections from sockets, thus having absolutely no process running as root where an escalation can occur.

It's just a random thought, if it's not possible/too cumbersome to implement don't worry.

[2020-02-02 09:29] poolpOrg commented on #74
It is not really possible but if we disallow delivery to root, the result will be very similar to be honest, the dangerous part is here

[2020-02-02 12:34] bekopharm commented on #68
This is a good read about SMTP and why it’s a bad idea to roll with the big 5:

https://poolp.org/posts/2019-12-15/decentralised-smtp-is-for-the-greater-good/

We’re currently at a point where it is even difficult to run your own mailserver because small mailservers tend to end up on some blocklist thanks to “bad neighbourhood”. That’d be ips “next” to you. Getting removed again – even for no reas

[2020-02-02 17:41] fgma commented on #74
Besides all other improvements I'd suggest to make the server banner override-able inside the config instead of using the default SMTPD_NAME. This will not improve security directly but makes it harder to search for possible targets available in public databases for mass exploitation.

[2020-02-03 20:13] eFochler commented on #74
Maildir by default!  Eliminating bugs is a noble pursuit, but making the secure path the easiest path is the first step.  mbox is a terrible format designed to solve problems of slow filesystems on slow disks.  That's not the current problem.  Death to mbox.

[2020-02-05 12:38] B4rb3rouss commented on #74
Just wanted to say, a bit late though, a sentence I heard a lot when I was a child : "Seuls ceux qui ne font rien ne font pas d'erreurs". (I know you understand it)
It's french for "The ones who don't makes mistakes are the ones doing nothing".
Anyway, thank you for all your work. **You** have the guts to do it. 😉

[2020-02-05 13:14] z3bra commented on #72
J'avoue n'avoir pas trop réfléchit au différents use-cases, je calque
ça sur la manière dont je maintient ma whitelist pour `spamd`.

De temps à autres je reçois un mail, disons de "contact@entreprise.tld",
que je veux whitelister. Le problème, c'est que cette entreprise n'a
pas ses propres mailers, et utilise ceux de "bigmailercorp.tld", donc
ils n'ont pas de SPF sur leur DNS.

Il faut donc que j

[2020-02-07 15:45] lanodan commented on #74
Hi, maybe for the Linux side of things it could use `capabilities(7)` and/or something like AppArmor+SELinux? `capabilities` would allow to drop all SuperUser privileges and only keep the ones needed. AppArmor/SELinux would allow to also restrict capabilities and their actions further.

[2020-02-11 11:42] tbrowder commented on #17
I add my thanks for such a great recipe, and I'm looking forward to more!

[2020-02-14 20:57] FraserEmbrey commented on #17
Thanks so much for the article, it is very insightful. I have had an issue with sending mail from my client and have been unable to find out what the issue is for a few months now. I am really keen on learning more about setting up a mailserver but I have to send mail by logging into the server currently. I assume there is an issue with the smtp server as I get a 'user doesn't exist' error when tr

[2020-02-15 22:38] bmajik commented on #17
Thanks for this fantastic guide.  I followed it back in early November, on OpenBSD 6.6.  However, google would frequently send me a DMARC report saying that my outgoing SPF was fine and DKIM was not.

In experimenting more, I saw that my outgoing messages were never DKIM signed.  In experimenting a bit more, I saw no evidence of rspamd trying to sign my messages.  I burnt a lot of time trying to f

[2020-02-19 12:19] movme commented on #17
Thank you!  I set this up and ran into a couple of issues.

- older servers on our network (which run legacy software and I can't upgrade) can't seem to have trouble sending and receiving mail: 550 Invalid recipient: <foo@bar.net> (in reply to RCPT TO command)
- secondary MX server (running OpenBSD/postfix) gets 421 errors (smtp failed-command command="DATA" result="421 try again later") unless I

[2020-02-25 00:38] ejelly commented on #74
FWIW, I think that the previous use of `system()` instead of `exec*()` actually really is a major part of the problem. In fact, I'd say that most of the other things you propose in your post, while worthwhile, are more of the "hardening" variety than the value of getting rid of `system()`. (Except for fixing the validation function, of course.)

A good analogy is SQL statements, where you generall

[2020-02-25 00:56] ejelly commented on #74
Apart from that, a question to help me assess how vulnerable my server was before I applied the patches:

My configuration only matches actions for external connections for some specific domains. That is, while I allow full relaying _locally_, I only have two non-obvious domains where mails from outward-facing interfaces are allowed (one of the actions is a "relay host" action, the other is indeed

[2020-02-25 09:03] poolpOrg commented on #74
@ejelly regarding your first comment I'm not so convinced by your rationale: assuming we only take care of `system()`, the potential for escalation will still exists if a different bug is found that doesn't target `system()`. In such a case, we'll be discussing a different work-around around a different bug producing possibly the same result.

That doesn't mean we won't replace `system()` with `ex

[2020-03-01 02:24] erley commented on #74
Since last OpenSMTPd upgrade I have a small regression with local email sender hostname.
For example, this worked before, but not now with v6.6.4p1 on my FreeBSD box:
`cat toto | sendmail alex@myhost.name`
It logs this:
`smtp connected address=local host=#`
`smtp failed-command command="MAIL FROM:<root@#>  " result="553 5.1.0 Sender address syntax error"`
When I specify hostname part for both send

[2020-03-01 15:44] erley commented on #74
At the moment I set `sendmail   /usr/libexec/dma` in my `/etc/mail/mailer.conf` and specified `MAILNAME  myhost.name` in `/etc/dma/dma.conf`. This involves DMA in delivery chain and it properly sets hostname in sender's address.
It doesn't seem the right config for me, but at least now I don't miss important emails sent by local daemons.

[2020-03-10 21:14] terabyte commented on #17
Hey, thanks so much for this article!  I just followed the directions and ran into some problems (some of which I found solutions to by reading this github issue's comments!).

* my mutt client uses sockets, apparently, so I wasn't getting a DKIM signature until I added ` listen on socket filter { rspamd }` like other users suggested

* I also got errors about "listen on all" not working, so I had

[2020-03-10 21:49] yeupou commented on #17
terabyte,

It is dovecot, not dovcot, https://packages.debian.org/search?keywords=dovecot

I found https://matrix.spfbl.net/ to be quite crooked. Not only it ask to pay 2 euros for delisting an IP (!) but it claims there would be an "invalid FCrDNS" justifying listing IP while the FCrDNS is perfectly fine according to their own page https://spfbl.net/en/fcrdns/

[2020-03-10 21:53] terabyte commented on #17
Many thanks for the quick reply!  you are right of course, I misspelled dovecot, whoops!  That's a relief!

A friend who was helping me debug why my email might be getting sent to gmail's spam folder pointed out the spfbl and that my IP was on it, he submitted some form so I got an email and I clicked it to request being removed - it asked me to fill out a captcha, then removed me, I didn't have t

[2020-03-10 22:00] yeupou commented on #17
You might want to try https://mxtoolbox.com/blacklists.aspx that give quite a decent blacklists overview.

[2020-03-31 01:35] poolpOrg opened #75 "Anxiety, OpenBSD break, COVID-19 and resuming work"

[2020-04-02 19:06] dataondeck commented on #75
I appreciate the level of personal honesty you bring to your writing. In the very cluttered space of technical blogs yours is one that stands out to me for this reason.

Also I would like to thank you. As an email admin for a small ISP I did not find too much pride in my email related work although I found the underlying protocols interesting. I did not have much to offer in response to people who

[2020-04-03 18:24] ngortheone commented on #75
Hey Gilles, glad to have you back!

Your update reminded me of  [Drew's post](https://drewdevault.com/2020/01/21/Stress-and-happiness.html) from not so long ago.

We often forget the importance of rest, both physical and mental and we only notice when we push ourselves over the edge, driven by the sense of duty, perfection or something else. One of my colleagues once said "_It is software, it is n

[2020-04-03 21:24] poolpOrg commented on #75
Thanks @dataondeck !

Thanks @ngortheone , will read Drew's post tomorrow :-)

The main issue for me is being unable to decode that I'm stressed or anxious. The perfect example is these days with the confinement: I've been inside for ~3 weeks now, only went out 10 minutes once to grab food. I was asked by a friend yesterday if confinement was ok and I said yes because I don't feel it is stressful

[2020-04-03 22:03] ngortheone commented on #75
This is how it works for me too:
- Set aside some time for exercise (20-30) minutes every day
- Set aside time for family
- Set aside some time to be alone, without electronic devices to reflect, introspect, think..
- Walk my dogs 2 times a day
- Do not use electronic devices(TV included) while eating/in bed/with family
- Go to bed after midnight

Especially exercise and walks help to clean my hea

[2020-04-08 01:30] NicolasCARPi commented on #75
Take care!

Best,
~Nico

[2020-04-09 15:16] edmundlod commented on #75
Take care, Gilles! Thanks very much for all you do. I wish you and your family all the best and happiness.

[2020-04-15 14:55] chrisb86 commented on #17
I love your tutorial. I tried to mash it up with another post for storing the userinfo in a sqlite database.

I'm able to login to dovecot and to send mails. But the receiving part doesn't work.
I get "Apr 15 16:47:58 opensmtpd smtpd[42903]: c3b04da42dc3c550 smtp failed-command command="RCPT TO: <user@debilux.org>" result="451 Temporary failure: <user@debilux.org>"" and don't know where to start d

[2020-04-19 11:22] tlaguz commented on #17
I followed this tutorial, and would like to have virtual domains and catch-all capability.
I managed to configure virtual domains. I now have one primary domain and several virtual domains.
According to table(5) manpage, catch-all capability only works in virtual domain context. I would like it to work also in the primary domain context.

Are there any contraindications to using only virtual domai

[2020-04-22 09:11] poolpOrg commented on #17
@chrisb86 you should really register to the opensmtpd mailing list and ask there, I do not use sqlite backend personally but many people do. your error does look like greylisting in action from the excerpt you pasted.

@tlaguz no downsides to using only virtual domains, this is actually what I do myself. I will be writing shortly an article on primary vs virtual domains to provide insight on how t

[2020-04-26 05:38] mzarglis commented on #17
First off great article, learned so much from reading and it really encouraged me to start self hosting my own email after always reading that it is too difficult to maintain.

After setting everything my emails are getting marked as spam by gmail is there any further steps i can do to fix this? SPF DKIM DMARC all showing PASS in the original message header and the domain is ~3 years old.

Also bl

[2020-05-01 13:28] poolpOrg opened #76 "April 2020: worked on a webmail and a bit of OpenSMTPD too"

[2020-05-02 12:39] blakedot commented on #75
Bon courage & reposes-toi bien Gilles!
Merci encore pour OpenSMTPd & tes blogs.

[2020-05-02 16:38] ngortheone commented on #76
@poolpOrg
unless this is a word play that I didn't understand

you probably wanted to say "scratch that itch"

[2020-05-02 16:40] ngortheone commented on #76
Thanks for the cool update. There is another interesting webmail project  that @emersion  is working on [koushin](https://git.sr.ht/~emersion/koushin), but as far as I know it is written in go

[2020-05-03 14:00] myfirstnameispaul commented on #76
Is the webmail project code up anywhere?

[2020-05-03 16:12] poolpOrg commented on #76
yes, fixed :-)

@myfirstnameispaul as written:

[2020-05-03 23:32] ghost commented on #75
Hi Gilles, while it may sound a bit weird coming from a total stranger, I just wanted to thank you for all the work you've done over the years with OpenBSD and OpenSMTPD. Your posts inspired me to ditch a BigMailerCorp and run my own mail server a while back and it has been both a great learning experience and also a freeing one. I sincerely wish you and your family the very best.

[2020-05-04 08:39] poolpOrg commented on #75
Thanks @lquidfire @blakedot and @jsfierro <3

[2020-05-06 09:34] bzhpwr commented on #76
Thank U for all your work and post.
OpenSMTP is so nice, so simple and efficient.
Leaving in Rennes, hop I can meet U one day.

[2020-05-22 04:26] tofazzz commented on #17
Great article! Thank you for putting the time to create it!
Would be nice to have an addition with virtual users/DB backend.

Do you know if there is any project to have a iRedmail/MiaB like packaged solution on OpenBSD? (using native packages when possible)

[2020-05-28 04:01] poolpOrg opened #77 "May 2020: OpenSMTPD 6.7.1p1 release, table-procexec and many PoCs"

[2020-05-28 21:09] K14D commented on #77
Thanks for the great work and the informative write-up. table-procexec looks really promising. Packages like the Go and Python examples will make using this functionality a breeze. I am really looking forward to see this in a production ready state.

[2020-06-17 21:22] movme commented on #17
NEVER MIND -- I found the problem.  Some of the shared libraries used by rspamd were not readable by rspamd (I have no idea how that happened, but it was an easy fix once I found it).

Things have been working flawlessly for months but last weekend I updated from OpenBSD 6.6 to OpenBSD 6.7 and with that came an update from rspamd-1.9.4 to rspamd-2.5 and opensmtpd-filter-rspamd from 0.1.4 to 0.1.6.

[2020-06-28 01:39] poolpOrg opened #78 "June 2020: poolp.org, folder pinning and webmail work"

[2020-07-01 18:09] peracchi commented on #17
@movme maybe your fix can help me.

rspamd.service is failing to start, giving a core-dump.

I'm trying to follow the steps using Manjaro Linux (Arch based).

[code]

[2020-07-09 22:31] peracchi commented on #17
@movme Could you please tell what libraries and how you fixed the problem?

[2020-07-22 03:23] ghost commented on #17
Thanks for the great article! Are there any part 2s or continuation of similar type content?

[2020-07-22 06:22] poolpOrg commented on #17
@Frick-David yes, I had multiple articles in the writing but this strange period has kind of shattered my schedule, can't really tell when I'll complete them at this point, I don't want to rush them but make them as detailed as this one which takes quite a few hours to complete.

[2020-07-27 16:43] ghost commented on #17
@poolpOrg Also, do any ports need to be opened when using this article? If so, do you know which ones they are? Ie in the firewall

Edit: Also, do you know of anyway I can replace the httpd (for OpenBSD) with something for linux?

[2020-07-31 12:09] Anachron opened #44 "Your SSL cert expired"
Just giving you a heads up: [The cert](https://poolp.org) has expired on July 31st.

[2020-07-31 13:50] poolpOrg commented on #44
procrastinated ... fixed, thanks

[2020-07-31 13:50] #44 closed, assigned to nobody

[2020-07-31 23:20] poolpOrg opened #79 "July 2020: webmail, custom MDA and python framework work"

[2020-08-01 09:13] jdelic commented on #79
@poolpOrg

I have [very recently](https://github.com/jdelic/opensmtpd-filters-go/commit/7c45fad0362f31f92b25e7fc4d0d16761fc018ed) worked on abstracting the API version on [opensmtpd-filters-go](https://github.com/jdelic/opensmtpd-filters-go/). Usage example can be found here: [opensmtpd-filter-greylistd/main.go](https://github.com/jdelic/opensmtpd-filter-greylistd/blob/master/main.go).

I am looki

[2020-08-03 20:22] hisacro commented on #17
@Frick-David I use default ports { https, submission, imaps, smtp, smtps, imap }, web-server possibility is endless nginx, lighthttpd.. (both have great doc for TLS)

[2020-08-13 09:42] streaps commented on #61
Some big providers just blocking IP addresses from cloud providers even if the IP is not on any public blocklist. I tried it several times over the years on different providers and there were always mails that didn't get delivered.

Without any commercial SMTP relay service I think sending mail from a VPS doesn't work reliable.

Maybe use an automatic fallback relay in case the target provider blo

[2020-08-13 09:48] dm17 commented on #61
What about just using a commercial SMTP relay? Do you guys think that this is an easy - albeit non-free - way to guarantee self hosting email works as well as big providers? If so, then it could be a fallback for anyone who hits an issue - or a default for anyone who wants to self host without the potential confusion/problem of getting blocked.

[2020-08-13 10:18] christhomas commented on #61
I've got a setup on a VPS working for years. The problem is whether you have ticked all the boxes related to DMARC, DKIM, got the correct DNS entries, etc, etc. Then you'll have no problem. But if you're missing any of these, you'll easily fall into a grey zone where things work for a while then stop. I'm even able to send to hotmail addresses from my setup. So I think it's important to have all t

[2020-08-13 10:20] dm17 commented on #61
Which tools/sources do you trust to verify the correctness of your DMARC, DKIM, "etc" setups?

[2020-08-13 10:26] christhomas commented on #61
I used this to validate some information: https://dkimvalidator.com/
Then I used the tools on https://mxtoolbox.com/ to check some things too

Another great tool is: https://www.mail-tester.com/

But you can only use it so many times a day before they tell you that you must pay ;) but perhaps you can find a way around that, I didn't, but then again I didn't need to check myself so many times a day

[2020-08-13 12:27] streaps commented on #61
This doesn't help at all, if the IP address is blocked.

[2020-08-13 15:35] christhomas commented on #61
Unfortunately not, some hosting companies are safe though. I've used Hetzner and Contabo without issue, but other hosting services which are cheap, no-frills, and borderline sketchy have the problem you've mentioned with their IP Addresses being blocked.

The biggest problem is that email is just fundamentally broken. It's too complex and too difficult to properly set-up, configure, and maintain.

[2020-09-04 08:07] sec commented on #17
Hi,
First - great article :) One question is that, when using this setup, authenticated user can spoof his sender address (ex. provide another_name@domain in MAIL FROM) - any way to reject that? I know there's `senders` but for that I need to prepare list of all users (yes I now I can use a script for that) - but maybe there's a built-in way to have this?

[2020-09-19 20:48] hakova commented on #17
Thank you so much for writing up this great article. I followed it verbatim on OpenBSD 6.7 but could not get the smtpd relay portion work. I can send messages from within the VPS that hosts the mail server without problem; however, when connecting it by other means, such as an email client, sending email fails with error "550 invalid recipient".
`smtpd -d -T rules -v` additionally reports "smtp_ce

[2020-09-20 21:46] hakova commented on #17
Now that I have a working personal email server, is there an elegant way to allow users set/modify their passwords without root/postmaster intervention and also without ssh access to the server themselves? I don't mind creating accounts for them but entering their passwords for them doesn't feel ideal, especially with the fact of also not giving them the ability to modify it.

[2020-09-25 12:00] tlaguz commented on #17
@hakova LDAP?

[2020-10-02 01:36] hakova commented on #17
Thank you @tlaguz. It will probably need a web interface for the users to manage their passwords, right? Time to read and learn more :smiley: .

[2020-10-04 23:33] kaotisk-hund opened #33 "ssl expired"
at poolp.org
regards

[2020-10-04 23:33] kaotisk-hund opened #47 "ssl expired"
at poolp.org
regards

[2020-10-05 07:46] poolpOrg commented on #47
oops. thanks

October 5, 2020 1:33 AM, "kaotisk" <notifications@github.com (mailto:notifications@github.com?to=%22kaotisk%22%20<notifications@github.com>)> wrote:
	at poolp.org
regards

	—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub (https://github.com/poolpOrg/poolp.org_posts/issues/46), or unsubscribe (https://github.com/notif

[2020-10-26 14:10] hakova commented on #17
I just wanted to thank @poolpOrg one more time for the great guide he made.  My server, which is admittedly not high traffic or anything, but is working quite well and without any major issues. I am thankful for him sharing his expertise about this topic, where reliable and reproducible information is hard to find, at least in my experience. Please don't get discouraged by some negative posts, the

[2020-10-27 01:19] montdidier commented on #17
Here here. My system has been running flawlessly with DKIM etc since Openbsd 6.6 was released which is just over a year now. Longer without DKIM. I have less trouble with my system than with gmail. Opensmtpd is unequivocally the best MTA I have ever used.

[2020-11-09 22:32] poolpOrg opened #1 "#p2k18 hackathon and OpenSMTPD"

[2020-11-09 22:33] poolpOrg opened #2 "switching to OpenSMTPD new config"

[2020-11-09 22:34] mattschwartz03 opened #3 "Unable to use rspamc with OpenSMTPD 6.4.0"
I would like to be able to use rspamc with the new version and syntax but this is not working:
action "domain" mda "/usr/local/bin/rspamc -d %{dest} -h 127.0.0.1:11334 --mime --exec \"/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest} -a %{rcpt}\"" virtual <virtuals>

When the action is run, I get an error: mail.mda only one command supported. How can I get this to run because I depend

[2020-11-09 22:34] mattschwartz03 opened #4 "Backup MX troubles"
Hello Gilles, I have implemented another server to use as a backup mx with the following

action "local" mbox alias <aliases>
action "backupmx" relay backup
action "relay" relay

match for local action "local"
match for any from domains <domain> action "backupmx"
match for local action "relay"

The mail queues correctly but when it tries to deliver to the primary mx, the primary rejects the mail a

[2020-11-09 22:34] poolpOrg opened #5 "2018-11-09/opensmtpd-reporting-update"
https://poolp.org/posts/2018-11-09/opensmtpd-reporting-update/

[2020-11-09 22:34] poolpOrg opened #6 "OpenSMTPD proc filters & fc-rDNS"

[2020-11-09 22:35] poolpOrg opened #7 "more on OpenSMTPD filters"

[2020-11-09 22:35] poolpOrg opened #8 "OpenSMTPD now supports regex in match rules"

[2020-11-09 22:36] poolpOrg opened #9 "happy new year 2019, a personal post"

[2020-11-09 22:36] poolpOrg opened #10 "may 2019 report"

[2020-11-09 22:36] poolpOrg opened #11 "June 2019 report : fion, bpg and smtpd"

[2020-11-09 22:36] poolpOrg opened #12 "July 2019 report: tons of smtpd work mostly"

[2020-11-09 22:36] poolpOrg opened #13 "August 2019 report: Fion, Plakar and OpenSMTPD"

[2020-11-09 22:36] poolpOrg opened #14 "You should not run your mail server because mail is hard."

[2020-11-09 22:36] poolpOrg opened #15 "Setting up a mail server with OpenSMTPD, Dovecot and Rspamd"

[2020-11-09 22:36] poolpOrg opened #62 "Setting up a mail server with OpenSMTPD, Dovecot and Rspamd"

[2020-11-09 22:36] mattschwartz03 opened #16 "Fantastic Article"
Gilles, This is a fantastic article and spot on in every respect. I would just consider adding something about the appropriate permissions for the DKIM private key. One thing I found that I had to do chmod 0440 and chown root:_rspamd in order for rspamd to be able to read and use the private key. Save for that, everything works perfectly and thank you. Your filter has allowed me to ditch that abom

[2020-11-09 22:37] poolpOrg opened #18 "October 2019 report: OpenSMTPD 6.6.0 release mostly"

[2020-11-09 22:37] poolpOrg opened #19 "November 2019 report: OpenSMTPD 6.6.1p1, filter-greylist and tons of portable cleanup"

[2020-11-09 22:37] poolpOrg opened #20 "SPF-aware greylisting and filter-greylist"

[2020-11-09 22:37] poolpOrg opened #21 "Decentralised SMTP is for the greater good"

[2020-11-09 22:37] poolpOrg opened #22 "Decentralisons SMTP pour le bien commun"

[2020-11-09 22:37] poolpOrg opened #23 "Mettre en place un serveur de mail avec OpenSMTPD, Dovecot et Rspamd"

[2020-11-09 22:37] poolpOrg opened #24 "December 2019: OpenSMTPD and filters work, articles and goodies"

[2020-11-09 22:37] poolpOrg opened #25 "SPF-aware greylisting et filter-greylist"

[2020-11-09 22:38] poolpOrg opened #26 "January 2020: OpenSMTPD work - libasr and libtls"

[2020-11-09 22:38] poolpOrg opened #27 "OpenSMTPD advisory dissected"

[2020-11-09 22:38] poolpOrg opened #28 "Anxiety, OpenBSD break, COVID-19 and resuming work"

[2020-11-09 22:38] poolpOrg opened #29 "April 2020: worked on a webmail and a bit of OpenSMTPD too"

[2020-11-09 22:38] poolpOrg opened #30 "May 2020: OpenSMTPD 6.7.1p1 release, table-procexec and many PoCs"

[2020-11-09 22:38] poolpOrg opened #31 "June 2020: poolp.org, folder pinning and webmail work"

[2020-11-09 22:38] poolpOrg opened #32 "July 2020: webmail, custom MDA and python framework work"

[2020-11-09 22:41] #33 closed

[2020-11-09 23:00] poolpOrg opened #34 "2018-11-03/opensmtpd-released-and-upcoming-filters-preview/"
https://poolp.org/posts/2018-11-03/opensmtpd-released-and-upcoming-filters-preview/

[2020-11-10 06:48] #47 closed, assigned to poolpOrg

[2020-11-10 07:44] #51 closed, assigned to nobody

[2020-11-10 07:56] #63 closed, assigned to nobody

[2020-11-16 14:45] #62 closed, assigned to nobody

[2020-11-20 21:52] risner commented on #77
New install, finally got working basic config but it looks different than all the guides.
smtpd.conf:
...
table credentials passwd:/usr/local/etc/mail/passwd
listen on lo0
listen on em0 port smtp filter { check_dyndns, check_rdns, check_fcrdns, senderscore, rspamd }
listen on em0 port smtps tls-require pki "mail" filter { check_dyndns, check_rdns, check_fcrdns, senderscore, rspamd }
listen on em0

[2020-11-20 23:19] risner commented on #77
Now chasing sievec issues:
report-ham: line 1: error: require command: unknown Sieve capability `vnd.dovecot.pipe'.
report-ham: line 1: error: require command: unknown Sieve capability `imapsieve'.
report-ham: line 15: error: unknown command 'pipe' (only reported once at first occurrence).
report-ham: error: validation failed.
sievec(risner): Fatal: failed to compile sieve script 'report-ham.sieve

[2020-11-22 14:55] dm17 commented on #61
Finally taking the plunge. I wanted to get some final input from those of you who have analysed the quality of the full systems out there. From my analysis so far, the best is this:
https://github.com/mailcow/mailcow-dockerized

Is it missing anything? I suppose future lock-in isn't much of an issue, but switching to a different system would be a pain.

Some honorable mentions go to:
https://githu

[2020-11-22 22:40] poolpOrg opened #81 "November 2020: I wasn't slacking but no opensource work"

[2020-11-23 03:24] ghost commented on #17
I was wondering if someone could give me some pointers. I reworked through the guide and corrected some mistakes I made the first time. However, when running `smtpd -n` or `service smtpd restart` I get `smtpd: invalid virtual ip or interface: all`

If I replace all with lo then it starts fine although I would assume this means it is only listening on localhost. I am not sure why it is an error on

[2020-11-23 05:36] poolpOrg commented on #17
@Frick-David

`all` is not a keyword but the name of an interface group in *BSD which encompasses... all interfaces.

You will want to use something like `0.0.0.0` on Linux and other systems without interface groups.

Cheers

[2020-11-23 20:08] ghost commented on #17
Thanks, I am on Linux and this fixed the issue. Cheers!

[2020-11-24 16:53] joseluis-io commented on #17
Great post! It was really helpful!

My vultr instance had port 25 block so I asked support to open it (they were real quick). All worked great but in some clients DKIM failed (wrong hash) so I have to update the following dovecot config files:

/etc/dovecot/conf.d/10-auth.conf

disable_plaintext_auth = yes
auth_username_format = %n
auth_mechanisms = plain login

/etc/dovecot/conf.d/10-ssl.conf

ss

[2020-11-25 23:27] ghost commented on #17
@poolpOrg, building on what you said, I found for my Linux server the `all` in the config needed to be changed to `eth0.` To find these possible devices (not sure what they are called) use the `ifconfig` command. I then could get the command `openssl s_client -host <YOUR_DOMAIN> -port 587 -starttls smtp` to succesfully connect (although I do not have any login credentials. This brings up my next q

[2020-11-26 06:11] poolpOrg commented on #17
You guessed correctly, if you configure auth without providing a set of credentials it will auth against the system users, otherwise it'll auth against that set.

[2020-12-24 01:33] poolpOrg opened #82 "December 2020: OpenSMTPD 6.8.0p1 released, fixed several bugs, proposed several diffs, book is on Github"

[2020-12-24 17:57] toraritte commented on #61
@poolpOrg Thank you so much for this post and emphasizing that "_hard_" is not the same as "_putting in the work_". (I believe this is similar to confusing motivation with discipline.)

Quantum mechanics is objectively  hard ([even according to Feynman](https://www.bbvaopenmind.com/en/science/leading-figures/richard-feynman-the-physicist-who-didnt-understand-his-own-theories/)), but an open source

[2020-12-29 00:03] poolpOrg opened #83 "Writing a custom Mail Delivery Agent"

[2020-12-29 02:25] ngortheone commented on #83
This is exactly what I needed! Thank you!

[2021-01-01 18:04] cypa commented on #76
"I want to be able to read my mail from various places and not rely on a heavy client."
don't you see the web-browser is one of the heaviest clients ever?

[2021-01-01 18:29] poolpOrg commented on #76
https://en.wikipedia.org/wiki/Rich_client

[2021-01-29 17:11] iWantToKeepAnon commented on #17
Thanks for your hard work.  I got mail running on a gentoo vps.  Glad to be free from Big Mailer Corps. : )

[2021-01-31 00:25] poolpOrg opened #84 "January 2021: OpenSMTPD libtls conversion and UNIX-domain sockets support, nooSMTPD"

[2021-03-01 00:12] poolpOrg opened #85 "February 2021: nooSMTPD libtls-conversion, ciphers, curves and protocols"

[2021-03-01 19:30] ArchangeGabriel commented on #84
Awesome, looking forward to see the changes on the SSL side (especially per listener tuning) and what nooSMTPD becomes (for what I’ve read currently, this looks interesting to me).

[2021-03-01 19:35] poolpOrg commented on #84
you should read the February report then ;)

[2021-03-01 19:49] ArchangeGabriel commented on #85
Awesome indeed! Now it makes me wonder whether I should package nooSMPTD in Arch. ;p Quick answer: not now, no time for this (should first fix https://archlinux.org/packages/?sort=&q=&maintainer=Archange&flagged=Flagged —OK, that was much bigger than expected actually… :p), but I might give it a shot in July. ;)

[2021-03-02 08:05] redeltaglio commented on #17
Thank you!
In my configuration I've put to backup MX. They act as relay. They communicate with the principle mail server using submission at 587 with auth. They use a GRE interface over IPSEC.

This is my config in the main:

`queue compression
queue encryption XXXX
table aliases_telecomlobby db:/etc/mail/aliases_telecomlobby.db
table aliases_redamacat db:/etc/mail/aliases_redamacat.db
table alias

[2021-03-02 09:32] poolpOrg commented on #17
@redeltaglio

1:59:41 saraswati smtpd[76818]: 7a1f4cf687a5f353 mta ssl_check_name: no match for 'ganesha' in cert

Your saraswati machine connects to your ganesha machine which exposes a cert that mismatches its hostname, either you need to fix the cert or disable cert verification when relaying to that machine.

Please use the opensmtpd mailing list as I get a lot of support requests and I'd like

[2021-03-02 10:25] redeltaglio commented on #17
Thank you!

[2021-03-09 18:22] knightshrub commented on #17
Hi Gilles,
thank you for the great article! It finally got me to host my own email.
I do have a problem however: It seems like rspamd is not DKIM signing my outgoing mail despite setting up  `/etc/rspamd/local.d/dkim_signing.conf` and using `filter-rspamd` in `/etc/mail/smtpd.conf`.
Is there something else that needs to be enabled in Rspamd or OpenSMTPD to make this work?

Edit: It ended up being

[2021-03-10 07:39] didarhossain commented on #17
Hi,

CAVEAT(s):
	I am:
		- using postfix+rspamd for public MTA (MX routing)
		- using multi-node email setup

This is my /etc/rspamd/local.d/dkim_signing.conf

allow_username_mismatch = true;
domain {
  my_some_domain.xxx {
    path = "/var/lib/rspamd/dkim/dkim-2021q1.key";
    selector = "2021q1";
  }
}
sign_networks = [
  "aa.bb.cc.dd",
]

I had to add the `sign_networks' setting for *my* setup

[2021-03-27 23:07] poolpOrg opened #86 "March 2021: backups with Plakar"

[2021-03-28 11:02] erdnaxeli commented on #86
Hi,

Great project!

I think there is a typo, because both example commands for inode diff and diff are the same :)

[2021-03-28 13:33] poolpOrg commented on #86
thanks @erdnaxeli, I'm either too tired or have bad sight, I can't seem to find the pasto :-/

[2021-03-28 13:47] erdnaxeli commented on #86
It's line 614 (on the source file). But reading it again maybe it's OK, the two diff commands do not have the same arguments.

[2021-03-28 15:27] yf4Yeh4ZLt89lT commented on #17
Hello,

When I test the mail with this service "www.mail-tester.com", I got a warning about the lack of SPF and DMARC records.

"You do not have a SPF record, please add the following one to your domain mx1.domain.net"
"You do not have a DMARC record, please add a TXT record to your domain _dmarc.mx1.domain.net"

In my understanding of the SPF and DMARC records of the guide, it covers the MX serve

[2021-03-28 19:23] Glandos commented on #86
Hi,

I see that plakar uses all good ideas from borgbackup and restic, that you should know about ;)

So my little question is: how it is different from other solutions?

The network part seems a bit new, but it was possible using SSH. There is also the namespace feature, but I'm using borg with different repositories (or store in plakar jargon) to have the same effects, with the benefit of differ

[2021-03-29 07:36] poolpOrg commented on #86
As of today, it isn't much different from others, besides the way you interact with stores, I wouldn't switch from borg or restic if I were using them to plakar if that's your question.

[2021-03-29 16:04] yf4Yeh4ZLt89lT commented on #17
I solved the SPF and DMARC complain by sending e-mail with the command :
"mail -r foo@mydomain.net -s test xxx@srv1.mail-tester.com"

For information, before, there was no "-r foo@mydomain.net".

But the missing DKIM signature is still there  :-(

[2021-04-03 15:29] netstx commented on #17
Is your DKIM  record correct? If you copy it from the console (cat /etc/mail/dkim/domain.com.pub for example) it will have line breaks, so I'd take a look at that.

[2021-04-10 13:27] yf4Yeh4ZLt89lT commented on #17
I finally understood that the messages are signed only when sent from a an external client that authenticate itself first.

By curiosity, what is the configuration to get DKIM signed messages when sent locally (directly from the server) ?

[2021-04-29 09:42] yf4Yeh4ZLt89lT commented on #17
I tried to ad to the configuration the part "learn to Dovecot to train rspamd" and it does not work.

It seems the pigeonhole is not compatible : on OpenBSD 6.8, once I installed the official package "dovecot-pigeonhole-0.5.11v1" I can not restart dovecot.
I get this error message :

[code]

I can restart Dovecot normally after deleting the package.

Edit on 06th May :
---------------------
After

[2021-04-30 23:39] poolpOrg opened #87 "April 2021: OpenSMTPD, Plakar, ipcmsg, privsep and small hypnosis talk"

[2021-05-06 23:44] netstx commented on #17
Just wanted to share that I have followed this guide both on 6.8-stable and 6.9-stable and it worked really well.

[2021-05-11 22:44] poolpOrg opened #88 "Mind hacking: understanding how our mind works"

[2021-05-12 10:33] bleader commented on #88
Given the look of your first part about *organic computers*, I would guess you already are familiar with the work of David Eagleman. If not I do recommand checking out the PBS serie: *The Brain* or his book *Livewire*, which I'm currently reading. It is more of a neurologist point of view, but the concept of the generic computer, sensors, and the perception of reality are there, and it definitely

[2021-05-12 21:19] poolpOrg commented on #88
Thanks 😄

I'm not familiar with the work of David Eagleman, no, I used a computer analogy because I thought most of my readers are techies. I'll have a look at his work, thanks !

[2021-05-17 22:04] poolpOrg opened #89 "Mind hacking: comprendre comment fonctionne notre esprit"

[2021-05-21 21:18] ghost commented on #17
Weirdly enough, i followed this guide on 6.9-stable, i can log-in from gmail but not send/receive mail.

[2021-05-22 14:44] ghost commented on #17
@hagnert, yeah same for me (mutt login). I can actually receive mail, but I'm unable to send any. Been getting following error in my logs:

`SSL failed: error:1408F10B:SSL routines:ssl3_get_record:wrong version number`

I configured mutt to use the port 587 for the smtp_url. Everything else end up in a straight "Connection refused". So I assume thats perhaps the right port?

I have to admit that I

[2021-05-22 18:58] hakova commented on #17
FWIW, I used this guide to setup my email server on OpenBSD 6.7 I
believe and upgraded the system twice since then. Neither of those
upgrades broke the email server.

On 21/05/22 07:44AM, whateverthisisafasf wrote:

[2021-06-06 04:14] RennisDitchie commented on #17
@poolpOrg

I read some of the previous posts on this thread, and though this might come across as a support issue, I think the following is worthwhile mentioning since its an issue with the midpoint of the blog post itself, so it kind of teeters towards something that the blog author could clarify.

To begin, I wanted to add the following points:
- Thanks for the post itself, seems pretty decent,

[2021-06-15 01:38] sbennett1990 commented on #87
Thank you for dabbling in some go privsep work! This is exactly what I've been interested in lately and the 2 packages you've made will greatly help me make my (non-serious) go project 😄

[2021-07-21 07:46] #89 closed, assigned to poolpOrg

[2021-07-21 07:49] #88 closed, assigned to poolpOrg

[2021-07-21 07:52] #48 closed, assigned to nobody

[2021-07-21 07:55] #49 closed, assigned to nobody

[2021-07-21 07:57] #50 closed, assigned to nobody

[2021-07-21 07:58] #80 closed, assigned to poolpOrg

[2021-07-21 07:58] #52 closed, assigned to nobody

[2021-07-21 08:00] #53 closed, assigned to nobody

[2021-07-21 08:00] #54 closed, assigned to nobody

[2021-07-21 08:01] #55 closed, assigned to nobody

[2021-07-21 08:02] #56 closed, assigned to nobody

[2021-07-21 08:02] #57 closed, assigned to nobody

[2021-07-21 08:03] #58 closed, assigned to nobody

[2021-07-21 08:03] #59 closed, assigned to poolpOrg

[2021-07-21 08:04] #60 closed, assigned to poolpOrg

[2021-07-21 08:06] #61 closed, assigned to poolpOrg

[2021-07-21 08:07] #17 closed, assigned to poolpOrg

[2021-07-21 08:07] #64 closed, assigned to poolpOrg

[2021-07-21 08:08] #65 closed, assigned to poolpOrg

[2021-07-21 08:08] #66 closed, assigned to poolpOrg

[2021-07-21 08:09] #67 closed, assigned to poolpOrg

[2021-07-21 08:09] #68 closed, assigned to poolpOrg

[2021-07-21 08:10] #69 closed, assigned to poolpOrg

[2021-07-21 08:11] #70 closed, assigned to poolpOrg

[2021-07-21 08:12] #71 closed, assigned to poolpOrg

[2021-07-21 08:12] #72 closed, assigned to poolpOrg

[2021-07-21 08:13] #73 closed, assigned to poolpOrg

[2021-07-21 08:13] #74 closed, assigned to poolpOrg

[2021-07-21 08:14] #75 closed, assigned to poolpOrg

[2021-07-21 08:14] #76 closed, assigned to poolpOrg

[2021-07-21 08:15] #77 closed, assigned to poolpOrg

[2021-07-21 08:16] #78 closed, assigned to poolpOrg

[2021-07-21 08:16] #79 closed, assigned to poolpOrg

[2021-07-21 08:17] #81 closed, assigned to poolpOrg

[2021-07-21 08:17] #82 closed, assigned to poolpOrg

[2021-07-21 08:18] #83 closed, assigned to poolpOrg

[2021-07-21 08:18] #84 closed, assigned to poolpOrg

[2021-07-21 08:19] #85 closed, assigned to poolpOrg

[2021-07-21 08:19] #86 closed, assigned to poolpOrg

[2021-07-21 08:20] #87 closed, assigned to poolpOrg

[2022-01-04 01:32] iambesi opened #148 "Example of a basic filter?"
Hello @poolpOrg,

I recently came across your OpenSMTPD software and find it very interesting – in particular, the ease of configuration to get it up and running on a server.  By no means am I a proper developer or expert in SMTP, but I do like to tinker and test things from time to time.  That being said, I have been trying to set up OpenSMTPD to simply run as a local e-mail server for a few user

[2022-04-15 02:08] Beutlin commented on #148
Hello @iambesi,
I've created a short tutorial about it. I think this will give you a better overview about this topic.
https://github.com/Beutlin/howto-opensmtpd-filters-and-reports

Greetings,
Tobias